// Copyright 2026 Alexandre D. Díaz
mirlo-committer-search {
    background-color: rgb(200, 200, 200);
}

#committer_search {
    background-color: rgb(200, 200, 200);
    z-index: 3;
    top: 25%;
}

.committer-subtitle {
    text-align: right;
    padding-right: 4px;
    font-size: small;
}
