{# Copyright 2025 Alexandre D. Díaz #}
{% extends "minimal_layout.html" %}
{% set meta_title = "Atlas" %}
{% set meta_description = "Interactive dependency graph explorer for Odoo modules." %}
{% block base_head_content %}
{{ super() }}

    <script type="module" src="/static/auto/atlas.mjs" async></script>
{% endblock %}
{% block content %}
{{ super() }}

<template id="template-mirlo-atlas">
    <link type="text/css" rel="stylesheet" href="/static/auto/web/scss/components/atlas.css" as="style" />
    <div id="sigma_atlas_mod_dep_search">
        <input list="sigma_atlas_mod_dep_search_dependencies" class="search_input" id="sigma_atlas_mod_dep_search_input" placeholder="Search by dependency name">
        <datalist id="sigma_atlas_mod_dep_search_dependencies"></datalist>
        <select class="search_input" id="sigma_atlas_mod_dep_search_select_ver"></select>
        <button type="button" id="sigma_atlas_mod_dep_control">⏹️</button>
    </div>
    <span id="sigma_atlas_mod_dep_graph_loading_msg">LOADING...</span>
    <div id="sigma_atlas_mod_dep_graph"></div>
</template>

<header class="page-header z-3 position-relative">
    <h1>Dependency atlas</h1>
    <p class="page-header-desc">An interactive map of every tracked module and its dependencies. Pick an Odoo version, search a module, and drag to explore.</p>
</header>
<div class="position-absolute start-0 top-0 h-100 w-100">
    <mirlo-atlas id="sigma_atlas_mod_dep"></mirlo-atlas>
</div>
{% endblock %}