{# Copyright 2026 Alexandre D. Díaz #}
{% extends "minimal_layout.html" %}
{% set meta_title = "Committers" %}
{% set meta_description = "Committer rankings and statistics across all tracked Odoo module repositories." %}
{% block base_head_content %}
{{ super() }}

    <link type="text/css" rel="stylesheet" href="/static/auto/web/scss/pages/committers.css" as="style">
    <script type="module" src="/static/auto/committers.mjs" async></script>
{% endblock %}
{% block content %}
{{ super() }}


<template id="template-mirlo-committer-search">
    <link type="text/css" rel="stylesheet" href="/static/auto/web/scss/components/committer-search.css" as="style" />
    <input type="text" id="search" autocomplete="off" placeholder="Search committer (name)..." autofocus />
    <ul id="results"></ul>
</template>


<header class="page-header">
    <h1>Committers</h1>
    <p class="page-header-desc">The people behind the tracked modules.</p>
</header>

<div class="position-relative mb-4" id="committer_search">
    <mirlo-committer-search class="d-block w-100" />
</div>

<div class="row user-select-none mt-5" id="top_committers">
    <div class="col-12">
        <ul class="nav nav-pills mb-3" id="periods-tab" role="tablist">
            {% for period in periods %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {{ loop.first and 'active' or '' }}" id="period-{{ period.key }}-tab" data-bs-toggle="pill" data-bs-target="#period-{{ period.key }}" type="button" role="tab" aria-controls="period-{{ period.key }}">{{ period.label }}</button>
            </li>
            {% endfor %}
        </ul>
        <div class="tab-content" id="periods-tabContent">
            {% for period in periods %}
            <div class="tab-pane fade {{ loop.first and 'show active' or '' }}" id="period-{{ period.key }}" role="tabpanel" aria-labelledby="period-{{ period.key }}-tab" tabindex="0">
                <div class="mb-2">{{ period.total_committers }} human committer{{ period.total_committers != 1 and 's' or '' }} tracked this period</div>
                <h4>Top {{ period.committers | length }} Committers ({{ period.label }}, by commits)</h4>
                <table class="table table-striped table-striped-columns table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Rank</th>
                            <th>Committer</th>
                            <th class="text-center">Commits</th>
                            <th class="d-none d-lg-table-cell text-center">Modules Touched</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for committer in period.committers %}
                        <tr>
                            <td class="text-center">#{{ committer.rank }}</td>
                            <td><a href="/committer/{{ committer.name | urlencode }}">{{ committer.name }}</a></td>
                            <td class="text-center">{{ committer.total_commits }}</td>
                            <td class="d-none d-lg-table-cell text-center">{{ committer.modules_touched }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if not period.committers %}
                <p>No commit activity tracked for this period.</p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
