{# Copyright 2025 Alexandre D. Díaz #}
{% extends "minimal_layout.html" %}
{% block title %}Home{% endblock %}
{% block base_head_content %}
{{ super() }}

    <link rel="preload" href="/static/auto/web/scss/components/module-counter.css" as="style" />
    <link type="text/css" rel="stylesheet" href="/static/auto/web/scss/pages/dashboard.css" as="style">
    <script type="module" src="/static/auto/dashboard.mjs" async></script>
{% endblock %}
{% block content %}
{{ super() }}


<template id="template-mirlo-module-search">
    <link type="text/css" rel="stylesheet" href="/static/auto/web/scss/components/module-search.css" as="style" />
    <input type="text" id="search" autocomplete="off" placeholder="Search module (technical name)..." autofocus />
    <ul id="results"></ul>
</template>


<template id="template-mirlo-module-counter">
    <link type="text/css" rel="stylesheet" href="/static/auto/web/scss/components/module-counter.css" as="style" />
    <div id="main_container">
        <table>
            <tbody>
                <tr><td><select class="search_input" id="version"></select></td></tr>
                <tr><td><span id="counter">0</span> modules</td></tr>
                <tr><td id="counter_org"></td></tr>
            </tbody>
        </table>
        <hr/>
        <div  class="section-title"><span>Top Authors (modules)</span></div>
        <table>
            <tbody>
                <tr><td id="contrib_rank"></td></tr>
            </tbody>
        </table>
        <hr/>
        <div  class="section-title"><span>Top Committers (commits)</span></div>
        <table>
            <tbody>
                <tr><td id="committer_rank"></td></tr>
            </tbody>
        </table>
    </div>
</template>


<div class="row position-relative" id="module_search">
    <mirlo-module-search class="border-warning-subtle rounded p-2 shadow position-absolute" />
</div>

<div class="row mb-3 gx-sm-5 user-select-none" id="modules_count">
    <div class="col-lg-4 col-12 pb-3 pb-lg-0">
        <mirlo-module-counter class="w-100 h-100 d-inline-block rounded-3 border border-opacity-0 bg-success-subtle" version="17.0"></mirlo-module-counter>
    </div>
    <div class="col-lg-4 col-12 pb-3 pb-lg-0">
        <mirlo-module-counter class="w-100 h-100 d-inline-block rounded-3 border border-opacity-0 bg-secondary-subtle" version="18.0"></mirlo-module-counter>
    </div>
    <div class="col-lg-4 col-12 pb-3 pb-lg-0">
        <mirlo-module-counter class="w-100 h-100 d-inline-block rounded-3 border border-opacity-0 bg-primary-subtle" version="19.0"></mirlo-module-counter>
    </div>
</div>

<div class="row user-select-none" id="modules_count">
    <div class="col-12">
        <h3>Latest Modules Tracked:</h3>
        <table class="table table-striped table-striped-columns table-hover">
            <tbody>
                {% for module in modules_latest %}
                <tr>
                    <td class="col-9"><span><a href="/module/{{ module.org_name }}/{{ module.technical_name }}">{{ module.technical_name }}</a></span></td>
                    <td class="col-1 text-center">{{ module.version }}</td>
                    <td class="col-1 d-none d-lg-table-cell text-center">{{ module.org_name }}</td>
                    <td class="d-none d-lg-table-cell text-center col-1">{{ module.create_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}