{# Copyright 2025 Alexandre D. Díaz #}
{% extends "minimal_layout.html" %}
{% block title %}Home{% endblock %}
{% block base_head_content %}
{{ super() }}

    <link rel="preload" href="/static/auto/web/scss/components/main-example.css" as="style" />
    <link rel="preload" href="/static/auto/web/scss/components/module-counter.css" as="style" />
    <link rel="stylesheet" href="/static/auto/web/scss/pages/dashboard.css">
    <script type="module" src="/static/auto/dashboard.mjs"></script>
{% endblock %}
{% block content %}
{{ super() }}


<template id="template-mirlo-module-counter">
    <table>
        <tbody>
            <tr><td><span id="version"></span></td></tr>
            <tr><td><span id="counter">0</span> modules</td></tr>
            <tr><td id="counter_org"></td></tr>
        </tbody>
    </table>
    <hr/>
    <div  class="section-title"><span>Top Authors (modules)</span></div>
    <table>
        <tbody>
            <tr><td id="contrib_rank"></td></tr>
        </tbody>
    </table>
    <hr/>
    <div  class="section-title"><span>Top Committers (commits)</span></div>
    <table>
        <tbody>
            <tr><td id="committer_rank"></td></tr>
        </tbody>
    </table>
</template>

<template id="template-mirlo-main-example">
    <input type="text" readonly="1" id="display" />
</template>


<ol class="text-left w-100 text-light fs-5 text-uppercase" id="main_example">
    <li class="lh-lg fw-bold text-warning-emphasis">Open a terminal</li>
    <li class="lh-lg fw-bold text-warning-emphasis">Type<br/>
        <mirlo-main-example class="border rounded p-2"></mirlo-main-example>
    </li>
    <li class="lh-lg fw-bold text-warning-emphasis">That's it!</li>
</ol>

<div class="row gx-sm-5 mt-5 user-select-none" id="modules_count">
    <div class="col-lg-4 col-12 pb-3 pb-lg-0">
        <mirlo-module-counter class="w-100 d-inline-block rounded-3 border border-opacity-0" version="16.0"></mirlo-module-counter>
    </div>
    <div class="col-lg-4 col-12 pb-3 pb-lg-0">
        <mirlo-module-counter class="w-100 d-inline-block rounded-3 border border-opacity-0" version="17.0"></mirlo-module-counter>
    </div>
    <div class="col-lg-4 col-12 pb-3 pb-lg-0">
        <mirlo-module-counter class="w-100 d-inline-block rounded-3 border border-opacity-0" version="18.0"></mirlo-module-counter>
    </div>
</div>
{% endblock %}