{# Copyright 2025 Alexandre D. Díaz #}
{% extends "minimal_layout.html" %}
{% block title %}Logs{% endblock %}
{% block base_head_content %}
{{ super() }}

    <link rel="stylesheet" href="/static/auto/web/scss/pages/logs.css" as="style">
    <script type="module" src="/static/auto/logs.mjs" async></script>
{% endblock %}
{% block content %}
{{ super() }}

<h2>🗓️ Month Logs</h2>
<div id="logs">
    <table class="table table-striped table-striped-columns table-hover">
        <tbody>
            {% for event in logs %}
            <tr>
                <td><span>{{ event.date }}</span></td>
                <td class="d-none d-lg-table-cell text-center">{{ event.event_type_id[1] }}</td>
                <td>{{ event.message | safe }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}