{# Copyright 2025 Alexandre D. Díaz #}
{% set modules = module_infos | reverse %}
{% extends "minimal_layout.html" %}
{% block title %}Module: {{ modules[0].technical_name }} {% endblock %}
{% block base_head_content %}
{{ super() }}

    <link type="text/css" rel="stylesheet" href="/static/auto/web/scss/pages/module.css" as="style">
    <script type="module" src="/static/auto/module.mjs" async></script>
{% endblock %}
{% block content %}
{{ super() }}


<template id="template-mirlo-module-search">
    <link type="text/css" rel="stylesheet" href="/static/auto/web/scss/components/module-search.css" as="style" />
    <input type="text" id="search" autocomplete="off" placeholder="Search module (technical name)..." autofocus />
    <ul id="results"></ul>
</template>


<div id="module_search" class="position-fixed start-50 w-50 translate-middle-x shadow rounded d-none">
    <mirlo-module-search class="border-warning-subtle d-block rounded p-2" />
</div>

<div class="position-fixed end-0 p-3 d-none d-lg-block ">
    <div class="toast align-items-center show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                TIP: You can type at any time to perform a new search.
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<h2>{{ modules[0].name }}</h2>
<span>{{ modules[0].technical_name }}</span>
<ul class="nav nav-pills mb-3 mt-3" id="versions-tab" role="tablist">
    {% for module in modules %}
    <li class="nav-item" role="presentation">
        <button class="nav-link {{ loop.first and 'active' or '' }}" id="version-{{ module.odoo_version }}-tab" data-bs-toggle="pill" data-bs-target="#version-{{ module.odoo_version }}" type="button" role="tab" aria-controls="version-{{ module.odoo_version }}">{{ module.odoo_version }}</button>
    </li>
    {% endfor %}
</ul>
<div class="tab-content" id="versions-tabContent">
    {% for module in modules %}
    {% set git_folder_url = module.git | replace('.git', '/tree/' + module.odoo_version + '/' + module.technical_name) %}
    <div class="tab-pane fade {{ loop.first and 'show active' or '' }}" id="version-{{ module.odoo_version }}" role="tabpanel" aria-labelledby="version-{{ module.odoo_version }}-tab" tabindex="0">
        <table class="table table-striped-columns">
            <tbody>
                <tr class="col-2 d-lg-none"><th colspan="2">REPOSITORY</th></tr>
                <tr><th class="col-2 d-none d-lg-table-cell">REPOSITORY</th><td>{{ module.organization }}/{{ module.repository }}</td></tr>
                <tr class="col-2 d-lg-none"><th colspan="2">GIT</th></tr>
                <tr><th class="col-2 d-none d-lg-table-cell">GIT</th><td><a href="{{ module.git }}">{{ module.git }}</a></td></tr>
                <tr class="col-2 d-lg-none"><th colspan="2">GIT FOLDER</th></tr>
                <tr><th class="col-2 d-none d-lg-table-cell">GIT FOLDER</th><td><a href="{{ git_folder_url }}">{{ git_folder_url }}</a></td></tr>
                <tr class="col-2 d-lg-none"><th colspan="2">VERSION</th></tr>
                <tr><th class="col-2 d-none d-lg-table-cell">VERSION</th><td>{{ module.version }}</td></tr>
                <tr class="col-2 d-lg-none"><th colspan="2">CATEGORY</th></tr>
                <tr><th class="col-2 d-none d-lg-table-cell">CATEGORY</th><td>{{ module.category }}</td></tr>
                <tr class="col-2 d-lg-none"><th colspan="2">LICENSE</th></tr>
                <tr><th class="col-2 d-none d-lg-table-cell">LICENSE</th><td>{{ module.license }}</td></tr>
                <tr class="col-2 d-lg-none"><th colspan="2">APPLICATION</th></tr>
                <tr><th class="col-2 d-none d-lg-table-cell">APPLICATION</th><td>{{ module.application and "Yes" or "No" }}</td></tr>
                <tr class="col-2 d-lg-none"><th colspan="2">AUTO-INSTALLABLE</th></tr>
                <tr><th class="col-2 d-none d-lg-table-cell">AUTO-INSTALLABLE</th><td>{{ module.auto_install and "Yes" or "No" }}</td></tr>
                <tr class="col-2 d-lg-none"><th colspan="2">AUTHORS</th></tr>
                <tr><th class="col-2 d-none d-lg-table-cell">AUTHORS</th><td>{{ module.authors | join(', ')  }}</td></tr>
                <tr class="col-2 d-lg-none"><th colspan="2">MAINTAINERS</th></tr>
                <tr><th class="col-2 d-none d-lg-table-cell">MAINTAINERS</th><td>{{ module.maintainers | join(', ') }}</td></tr>
                <tr class="col-2 d-lg-none"><th colspan="2">WEBSITE</th></tr>
                <tr><th class="col-2 d-none d-lg-table-cell">WEBSITE</th><td><a href="{{ module.website }}">{{ module.website }}</a></td></tr>
                <tr class="col-2 d-lg-none"><th colspan="2">LAST TRACKING UPDATE</th></tr>
                <tr><th class="col-2 d-none d-lg-table-cell">LAST TRACKING UPDATE</th><td>{{ module.update_date }}</td></tr>
                <tr class="col-2 d-lg-none"><th colspan="2">ODOO DEPENDENCIES</th></tr>
                <tr><th class="col-2 d-none d-lg-table-cell">ODOO DEPENDENCIES</th><td>
                    {% for key, values in module.dependencies.odoo|items %}
                    {{ key }}:<br/>
                    {% for value in values %}
                    &nbsp;&nbsp;&nbsp;&nbsp;- {{ value }}<br/>
                    {% endfor %}
                    {% endfor %}
                </td></tr>
                <tr class="col-2 d-lg-none"><th colspan="2">PYTHON DEPENDENCIES</th></tr>
                <tr><th class="col-2 d-none d-lg-table-cell">PYTHON DEPENDENCIES</th><td>
                    {% if module.dependencies.pip %}
                    {% for dep_name in module.dependencies.pip %}
                    {{ dep_name }}<br/>
                    {% endfor %}
                    {% else %}
                    <span>Not have</span>
                    {% endif %}
                </td></tr>
                <tr class="col-2 d-lg-none"><th colspan="2">SYSTEM DEPENDENCIES</th></tr>
                <tr><th class="col-2 d-none d-lg-table-cell">SYSTEM DEPENDENCIES</th><td>
                    {% if module.dependencies.bin %}
                    {% for dep_name in module.dependencies.bin %}
                    {{ dep_name }}<br/>
                    {% endfor %}
                    {% else %}
                    <span>Not have</span>
                    {% endif %}
                </td></tr>
                <tr class="col-2 d-lg-none"><th colspan="2">DESCRIPTION</th></tr>
                <tr><th class="col-2 d-none d-lg-table-cell">DESCRIPTION</th><td><pre>{{ module.description }}</pre></td></tr>
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}
