<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" class="h-100">
    <head>
        <meta charSet="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Odoo module metadata.">
        <meta name="keywords" content="Odoo, module, addon, metadata, information, restapi">
        <meta name="author" content="Alexandre D. Díaz">
        <link rel="icon" type="image/png" href="/static/favicon.png"/>
        {% block base_head_content %}{% endblock %}
        <link rel="stylesheet" href="/static/auto/web/scss/main.css">
        <script type="module" src="/static/auto/main.mjs"></script>
        <title>{% block title %}{% endblock %} - Odoo Module Metadata</title>
    </head>
    <body class="h-100">
        {% block base_body_content %}{% endblock %}
    </body>
</html>