{# Copyright 2025 Alexandre D. Díaz #}
{% extends "minimal_layout.html" %}
{% block title %}Doodba Converter{% endblock %}
{% block base_head_content %}
{{ super() }}

    <link rel="stylesheet" href="/static/auto/web/scss/pages/doodba_tools/converter.css" as="style">
    <script type="module" src="/static/auto/converter.mjs" async></script>
{% endblock %}
{% block content %}
{{ super() }}

<template id="template-mirlo-doodba-converter">
    <span class="search_container" id="doodba_converter_search_version"><strong>Odoo Version:</strong> </strong><select class="search_input" id="doodba_converter_search_select_ver"></select></span>
    <span class="search_container" id="doodba_converter_save" style="display:none">💾 Save</span><br/>
    <div id="doodba_converter_drag_panel"><span class="no_mouse">Click or Drag addons folder here and get a list of modules in “doodba” format.</span></div>
    <textarea id="doodba_converter_result" style="display: none" readonly="readonly"></textarea>
</template>


<h2>🛠️ Doodba Converter</h2>
<div class="mb-4">
    This tool is used to get the addons.yaml file of a doodba project from an Odoo modules folder.<br>
    *** Only the names of the folders will be sent to the server. <span class="text-info">The contents of the folders will never be sent.</span><br>
    *** Chromium-based browsers may have a limit when navigating the folder tree within a directory. It is recommended to use Firefox for optimal results.
</div>

<mirlo-doodba-converter></mirlo-doodba-converter>

{% endblock %}