// Copyright 2025 Alexandre D. Díaz
#doodba_dep_resolver_drag_panel {
    position: relative;
    background-color: #252735;
    width: 100%;
    height: 50vh;
    border: 1px solid rgb(76 86 157);
    background: linear-gradient(-45deg, #1a1a1a, #2d1b69, #0f0f23, #1e3c72);
    background-size: 400% 400%;
    animation: mainGadrientEffect 20s ease infinite;

    span {
        top: 25vh;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
}

#doodba_dep_resolver_result {
    width: 100%;
    height: 100vh;

    #doodba_dep_resolver_result_odoo {
        width: 95%;
        height: 100vh;
    }
    #doodba_dep_resolver_result_bin {
        width: 95%;
        height: 100vh;
    }
    #doodba_dep_resolver_result_pip {
        width: 95%;
        height: 100vh;
    }
}

#doodba_dep_resolver_save {
    &:hover {
        background-color: rgb(76 86 157);
        cursor: pointer;
    }
}

.no_mouse {
    user-select: none;
}

.search_container {
    user-select: none;
    background-color: rgb(76 86 157);
    padding: 0.3em;
    border-radius: 3px 3px 0 0;
    color: white;

    .search_input {
        padding: 5px;
        outline: none;
        background-color: transparent;
        border: 0;
        color: white;
        font-weight: bold;

        &:hover:not(:disabled) {
            background-color: rgb(68, 78, 136);
            cursor: pointer;
        }
    }
}

@keyframes mainGadrientEffect {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
