// Copyright 2025 Alexandre D. Díaz
@import "./doodba-drag-panel";

#doodba_dep_resolver_result {
    width: 100%;
    height: 100vh;

    #doodba_dep_resolver_result_odoo {
        width: 98%;
        height: 100vh;
        resize: none;
    }
    #doodba_dep_resolver_result_bin {
        width: 98%;
        height: 100vh;
        resize: none;
    }
    #doodba_dep_resolver_result_pip {
        width: 98%;
        height: 100vh;
        resize: none;
    }
}
