// Copyright 2025 Alexandre D. Díaz
#display {
    outline: none;
    font-size: 1em;
    background-color: rgb(24, 24, 24);
    color: white;
    font-family: 'Lucida Console', Monaco, monospace;
    width: 90%;
    border: none;
}