// Copyright 2025 Alexandre D. Díaz
#main_container.changing {
    animation: changeBlurEffect 450ms ease 1;
}

#version {
    font-size: large;
}

#counter {
    font-size: xx-large;
}

table {
    padding: 1em;
    min-width: 250px;
    min-height: 120px;
    width: 100%;

    td {
        text-align: center;

        ol {
            text-align: left;
            margin-bottom: 0;
            margin-top: 0;
            padding-left: 1em;
        }
    }
}

hr {
    border-color: rgb(76 86 157);
    border-style: double;
    border-width: 4px;
    border-left-width: 0;
    border-right-width: 0;
    transform: skew(-10deg, -10deg);
}

#contrib_rank, #committer_rank {
    font-size: small;
    ol {
        margin-top: 0;
    }
}

.section-title {
    text-align: right;
    padding-right: 4px;
    font-size: small;
}


@keyframes changeBlurEffect {
    0% {
        filter: blur(0);
    }
    50% {
        filter: blur(5px);
    }
    100% {
        filter: blur(0);
    }
}